<a href="https://colab.research.google.com/github/dannlineses/CPE21A-PLD-1-2/blob/main/Nested_If_Else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nested if else

In [27]:
x = 21
if x > 10:
  print("above ten")
  if x > 20:
    print("above twenty")

  else:
    print("below twenty")

  if x > 30:
    print("above thirty")

  else:
    print("below thirty")

  if x > 40:
    print("above forty")
        
  else:
    print("below forty")
    

else:
  print("not above ten")

above ten
above twenty
below thirty
below forty

In [57]:
x = 1
if x > 10:
  print("above ten")
elif x < 10:
  print("below ten")
else:
  print("not above 10")

below ten

In [32]:
x = 41
if x > 10:
  print("above ten")
  if x < 20:
    print("below twenty")
  else:
    print("above twenty")

    if x < 30:
      print("below thirty")
    else:
      print("above thirty")

      if x < 40:
        print("below forty")
      else:
        print("above forty")

        if x < 50:
          print("below fifty")
        else:
          print("above fifty")

above ten
above twenty
above thirty
above forty
below fifty

Example 1

In [64]:
x = 17

if x == 18:
  print("Qualified to vote")
elif x > 18:
  print("Qualified to vote")
else:
  print("Not Qualified to vote")

Not Qualified to vote

Example 2

In [69]:
x = 5212

if x == 0:
  print("The input is zero")
elif  x > 0:
  print("The input is Positive")
else:
  print("The input is negative")

The input is Positive

Example 3

In [105]:
grade = -31

if grade >= 75:
  print("Passed")
elif grade == 74:
  print("Remedial")
elif grade < 74 and grade > -1:
  print("Failed")
if grade < 0:
  print("invalid")

invalid